/* ==========================================================================
   (Some) Base styles
   ========================================================================== */

html {
    font-family: 'Karla', sans-serif;
    color: #333333;
    font-size: 1em;
    line-height: 1.5;
    background: url(#) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: blue;
    color: white;
    text-shadow: none;
}

::selection {
    background: blue;
    color: white;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Browser upgrade
 */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   My styles
   ========================================================================== */
.main-wrap {
    max-width: 800px;
    margin: 30px auto;
    padding: 6%;
}

.main-wrap h1 {
    margin-top: 0;
}

.desk {
    color: #777777;
}

h1, h2, h3 {
    font-weight: 100;
}

a, a:visited {
    color: inherit;
}

a:hover{
    color: blue;
}

h1 {
    font-size: 3em;
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 2.7em;
    }
}

h2 {
    font-size: 2em;
}

.social {
    font-size: 20px;
    text-align: left;
}

i {
    width: 1.5em;
}

.medium-icon {
    margin-right: 6px;
    
}